<%  custom_fields = CustomField.where(type: 'UserCustomField')
      .select([:id, :name]).order(:name)
    settings = {} if !settings || settings.blank? %>
<table>
  <tbody>
    <tr>
      <td>
        User view type custom field:
      </td>
      <td>
        <%= select_tag 'settings[custom_field_id]',
          options_from_collection_for_select(custom_fields, :id, :name,
            settings['custom_field_id']), include_blank: true %>
      </td>
    </tr>
  </tbody>
</table>
