<div class="bottom_page_buttons">
  <a class="add_comment_button" data-lock-version="<%= @issue.lock_version %>" data-issue-id="<%= @issue.id %>" data-button-id="2" href="#">
    <span class="">Add Comment</span>
  </a>
</div>
<div class="bottom_page_contaier">
</div>
