<div class="top-tooltip-container">
  <%
      ancestors = @issue.root? ? [] : @issue.ancestors.visible.all
      parent = ancestors.last
  %>
  <% unless parent.nil? %>
      <div class="tooltip-parents">
        <div class="tooltip-hover">
          <%= content_tag('span', link_to_issue(parent, :project => (@issue.project_id != parent.project_id))) %>
          <% if (ancestors.size) > 1 %>
              <div class="tooltip-parents-content">
                <%=
                    s = ''
                    ancestors.each do |ancestor|
                      s << '<div>' + content_tag('span', link_to_issue(ancestor, :project => (@issue.project_id != ancestor.project_id)))
                    end
                    s << '</div>' * ancestors.size
                    s.html_safe
                %>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
