.issue-title a.icon {
	margin-right: -2px;
}

#issue_tree td.checkbox, #relations td.checkbox {
    display: table-cell;
}

.hours_overdue {
	color: red;
	font-weight: bold;
}

.hours_on_schedule {
	color: blue;
}

.hours_complete {
	font-weight: bold;
}

.main_top_buttons{
	position: absolute;
	top: 0px;
	right: 0px;
}

.issue-title .main_top_buttons .contextual {
	background: rgb(75,84,93); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(75,84,93,0) 0%, rgba(75,84,93,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(75,84,93,0)), color-stop(100%,rgba(75,84,93,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(75,84,93,0) 0%,rgba(75,84,93,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(75,84,93,0) 0%,rgba(75,84,93,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(75,84,93,0) 0%,rgba(75,84,93,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(75,84,93,0) 0%,rgba(75,84,93,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b545d', endColorstr='#4b545d',GradientType=1 ); /* IE6-9 */
	margin: 0 !important;
	padding: 10px 10px 8px;
	position: absolute;
	right: 0px;
	top: 0px;
	border-radius: 0 3px 0 0; -webkit-border-radius: 0 3px 0 0; -moz-border-radius: 0 3px 0 0;
}
