.issue-title a.icon {
	margin-right: -2px;
}

#issue_tree td.checkbox, #relations td.checkbox {
    display: table-cell;
}

.hours_overdue {
	color: red;
	font-weight: bold;
}

.hours_on_schedule {
	color: blue;
}

.hours_complete {
	font-weight: bold;
}
