.quick-add-form input {
  width: 98%;
  max-width: 98%;
}
.quick-subtasks a {
  margin-right:5px;
}
.quick-add-form span.help {
  font-size: 12px;
  color: #737373;
  display: block;
  margin: 5px 0 0 10px;
}
